@font-face {
  font-family: "museo-sans-500";
  src: url("http://www.myfonts.com/fonts/exljbris/museo-sans/500/");
}

body {
  margin: 0;
  font-family: "museo-sans-500", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "museo-sans-500", Arial;
}
